/* --------------------colors---------------- */
:root {
    --primary-color: #a5823c;
    --background-color: #ffffff;
    --text: #878787;
    --dark-text: #24282c;
    --background-light: #847b7b33;
  }